body {
    background-color: #0d1117;
    color: white;
    font-family: Arial;
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 60%;
}

table, th, td {
    border: 1px solid white;
    padding: 10px;
}

h1 {
    color: #58a6ff;
}